<%= form_with(model: @light_novel, local: true) do |form| %>
  <% if @light_novel.errors.any? %>
    <div id="error_explanation">
      <h2>Please fill out the form properly</h2>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' + (@light_novel.errors[:title].any? ? ' is-invalid' : '') %>
    <% if @light_novel.errors[:title].any? %>
      <div class="invalid-feedback">
        <%= @light_novel.errors.full_messages_for(:title).join(", ") %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, class: 'form-control' + (@light_novel.errors[:author].any? ? ' is-invalid' : '') %>
    <% if @light_novel.errors[:author].any? %>
      <div class="invalid-feedback">
        <%= @light_novel.errors.full_messages_for(:author).join(", ") %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' + (@light_novel.errors[:description].any? ? ' is-invalid' : '') %>
    <% if @light_novel.errors[:description].any? %>
      <div class="invalid-feedback">
        <%= @light_novel.errors.full_messages_for(:description).join(", ") %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :release_date %>
    <%= form.date_select :release_date, start_year: 1990, end_year: Date.today.year, class: 'form-control' + (@light_novel.errors[:release_date].any? ? ' is-invalid' : '') %>
    <% if @light_novel.errors[:release_date].any? %>
      <div class="invalid-feedback">
        <%= @light_novel.errors.full_messages_for(:release_date).join(", ") %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.select :genre, options_for_select(%w[Fantasy Wuxia Sci-Fi Romance Mystery Horror Cultivation Regression]), class: 'form-control' + (@light_novel.errors[:genre].any? ? ' is-invalid' : '') %>
    <% if @light_novel.errors[:genre].any? %>
      <div class="invalid-feedback">
        <%= @light_novel.errors.full_messages_for(:genre).join(", ") %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, step: 0.1, class: 'form-control' + (@light_novel.errors[:rating].any? ? ' is-invalid' : '') %>
    <% if @light_novel.errors[:rating].any? %>
      <div class="invalid-feedback">
        <%= @light_novel.errors.full_messages_for(:rating).join(", ") %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
