<div id="<%= dom_id light_novel %>">
  <p>
    <strong>Title:</strong>
    <%= light_novel.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= light_novel.author %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= light_novel.description %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= light_novel.release_date %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= light_novel.price %>
  </p>

</div>
