<p style="color: green"><%= notice %></p>

<%= render @light_novel %>

<div>
  <%= link_to "Edit this light novel", edit_light_novel_path(@light_novel) %> |
  <%= link_to "Back to light novels", light_novels_path %>

  <%= button_to "Destroy this light novel", @light_novel, method: :delete %>
</div>
