<div class="show-container">
  <p>
    <strong>Title:</strong>
    <%= @light_novel.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @light_novel.author %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @light_novel.description %>
  </p>

  <p>
    <strong>Release Date:</strong>
    <%= @light_novel.release_date %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= @light_novel.genre %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= @light_novel.rating %>
  </p>

  <div class="actions">
    <%= link_to 'Edit', edit_light_novel_path(@light_novel), class: 'actions' %> |
    <%= link_to 'Back', light_novels_path, class: 'actions' %>
  </div>
</div>
